lambda-build.zip
*.pyc
.env
.testenv
.DS_Store
lambda/node_modules
.ask/
hooks/
__pycache__
*.log
*.log.*
venv
/.vscode/
/.idea/
/sonar-project.properties
/.scannerwork/report-task.txt
/.scannerwork/.sonar_lock
/.coverage
